<footer>
    <div class="city_silhouette">
    </div>
  <div class="container">
    <div class="row">

        <div class="col-md-3 hidden-sm hidden-xs">
            <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
                    <h1><a href="{{ home }}">{{ name }}</a></h1>
                {% endif %}</div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12">
            <ul class="list-unstyled">
                {% if informations %}
                    {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                    {% endfor %}
                {% endif %}
                <li><a href="{{ return }}">{{ text_return }}</a></li>
                <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
            </ul>
        </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <ul class="list-unstyled">
            <li><a href="tel: +74997532101"><i class="fa fa-phone"></i> +7 (499) 753-21-01</a></li>
            <li class="last_in_group"><a href="tel: +79639615884"><i class="fa fa-phone"></i> +7 (963) 961-58-84</a></li>
            <li class="last_in_group"><a href="mailto: vozduhi@bk.ru"><i class="fa fa-envelope"></i> vozduhi@bk.ru</a></li>
            <li>ПН-ПТ 11:00-18:00</li>
            <li>ПС-ВС 10:00-22:00</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="footer_icons_grp">
                <a href="https://api.whatsapp.com/send?phone=79639615884"><img src="/image/whats_up.png" alt=""></a>
                <a href="tg://user?id=79639615884"><img src="/image/telegram.png" alt=""></a>
                <a href="https://www.facebook.com/vozduhi.ru/"><img src="/image/fb.png" alt=""></a>
                <a href="https://vk.com/club158086489"><img src="/image/vk.png" alt=""></a>
                <a href="https://www.instagram.com/vozduhi/"><img src="/image/insta.png" alt=""></a>
                <a href="viber://add?number=79639615884"><img src="/image/viber.png" alt=""></a>
            </div>
      </div>
    </div>
  </div>
</footer>
<script>
    $(document).ready(function () {
        var $menu = $('#menu');

        var oldBtn = null;
        $('.ochow-menu-item-toggle').on('click', function () {
            var $btn = $(this);

            $menu
                .find('.dropdown')
                .removeClass('open')
                .find('.ochow-open')
                .removeClass('ochow-open')
                .addClass('ochow-close');

            if ($btn.hasClass('ochow-close')) {
                if (oldBtn === this) {
                    oldBtn = null;
                    return true;
                }

                $btn
                    .removeClass('ochow-close')
                    .addClass('ochow-open')
                    .parent()
                    .addClass('open')
            } else {
                $btn
                    .removeClass('ochow-open')
                    .addClass('ochow-close')
                    .parent()
                    .removeClass('open')
            }

            oldBtn = this;
        });
    });
</script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>